.classpath
.project
.idea/
.settings/
target/
logs/
*.iml
#src/main/resources/application.properties
src/main/resources/generatorConfig.xml
/src/main/resources/pages/
/websource/node_modules/
!/src/main/resources/pages/login.html
