<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BilltagMapper">
    <select id="findBilltagsByParams" resultType="billtag" parameterType="hashmap">
        SELECT tag.* FROM billtag tag
        LEFT JOIN (
        SELECT tag ,count(tag) AS tagCount FROM billwithtags GROUP BY tag
        ) tc ON tag.id = tc.tag
        <where>
            <if test="@Ognl@isNotEmpty(id)">
                AND tag.id = #{id}
            </if>
            <if test="@Ognl@isNotEmpty(billId)">
                AND tag.id in (
                SELECT DISTINCT tag FROM billwithtags WHERE bill = #{billId}
                )
            </if>
            <if test="@Ognl@isNotEmpty(name)">
                AND tag.name = #{name}
            </if>
            <if test="@Ognl@isNotEmpty(keyword)">
                AND tag.name LIKE CONCAT( #{keyword}, '%')
            </if>
        </where>
        ORDER BY tagCount DESC
        <if test="@Ognl@isNotEmpty(offset)">
            LIMIT 0,${offset}
        </if>
    </select>
    <insert id="addBilltag" parameterType="billtag" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO billtag (name, comment)
        VALUES (#{name}, #{comment})
    </insert>
</mapper>