<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BillwithtagsMapper">

    <insert id="addBillwithtags" parameterType="billwithtags" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO billwithtags (bill, tag)
        VALUES (#{bill}, #{tag})
    </insert>
    <delete id="deleteBillwithtags" parameterType="billwithtags">
        DELETE FROM billwithtags
        <where>
            <if test="@Ognl@isNotEmpty(bill)">
                AND bill = #{bill}
            </if>
            <if test="@Ognl@isNotEmpty(tag)">
                AND tag = #{tag}
            </if>
        </where>
    </delete>
</mapper>