<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.washmore.family.v2.dao.BookUserPasswordMapper">
    <select id="selectByParams" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from book_user_password
        <where>
            <if test="@Ognl@isNotEmpty(id)">
                AND id = #{id}
            </if>
            <if test="@Ognl@isNotEmpty(account)">
                AND account = #{account}
            </if>
            <if test="@Ognl@isNotEmpty(password)">
                AND password = password(#{password})
            </if>
            <if test="@Ognl@isNotEmpty(oldPassword)">
                AND old_password = password(#{oldPassword})
            </if>
        </where>
        ORDER BY update_time DESC
        <if test="@Ognl@isNotEmpty(start) and @Ognl@isNotEmpty(offset)">
            LIMIT #{start} ,#{offset}
        </if>
    </select>

    <resultMap id="BaseResultMap" type="tech.washmore.family.v2.model.BookUserPassword">
        <id column="account" jdbcType="VARCHAR" property="account"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="old_password" jdbcType="VARCHAR" property="oldPassword"/>
        <result column="creator" jdbcType="BIGINT" property="creator"/>
        <result column="create_name" jdbcType="VARCHAR" property="createName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="updater" jdbcType="BIGINT" property="updater"/>
        <result column="update_name" jdbcType="VARCHAR" property="updateName"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        account, password, old_password, creator, create_name, create_time, updater, update_name,
        update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from book_user_password
        where account = #{account,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        DELETE FROM book_user_password
        WHERE account = #{account,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="tech.washmore.family.v2.model.BookUserPassword">
        INSERT INTO book_user_password (account, password, old_password,
                                        creator, create_name, create_time,
                                        updater, update_name, update_time
        )
        VALUES (#{account,jdbcType=VARCHAR}, password(#{password,jdbcType=VARCHAR}),
                password(#{oldPassword,jdbcType=VARCHAR}),
                #{creator,jdbcType=BIGINT}, #{createName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
                #{updater,jdbcType=BIGINT}, #{updateName,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="tech.washmore.family.v2.model.BookUserPassword">
        insert into book_user_password
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="account != null">
                account,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="oldPassword != null">
                old_password,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="createName != null">
                create_name,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updater != null">
                updater,
            </if>
            <if test="updateName != null">
                update_name,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="account != null">
                #{account,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password(#{password,jdbcType=VARCHAR}),
            </if>
            <if test="oldPassword != null">
                password(#{oldPassword,jdbcType=VARCHAR}),
            </if>
            <if test="creator != null">
                #{creator,jdbcType=BIGINT},
            </if>
            <if test="createName != null">
                #{createName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updater != null">
                #{updater,jdbcType=BIGINT},
            </if>
            <if test="updateName != null">
                #{updateName,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="tech.washmore.family.v2.model.BookUserPassword">
        update book_user_password
        <set>
            <if test="password != null">
                password = password(#{password,jdbcType=VARCHAR}),
            </if>
            <if test="oldPassword != null">
                old_password = password(#{oldPassword,jdbcType=VARCHAR}),
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=BIGINT},
            </if>
            <if test="createName != null">
                create_name = #{createName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updater != null">
                updater = #{updater,jdbcType=BIGINT},
            </if>
            <if test="updateName != null">
                update_name = #{updateName,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where account = #{account,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="tech.washmore.family.v2.model.BookUserPassword">
        UPDATE book_user_password
        SET password     = password(#{password,jdbcType=VARCHAR}),
            old_password = password(#{oldPassword,jdbcType=VARCHAR}),
            creator      = #{creator,jdbcType=BIGINT},
            create_name  = #{createName,jdbcType=VARCHAR},
            create_time  = #{createTime,jdbcType=TIMESTAMP},
            updater      = #{updater,jdbcType=BIGINT},
            update_name  = #{updateName,jdbcType=VARCHAR},
            update_time  = #{updateTime,jdbcType=TIMESTAMP}
        WHERE account = #{account,jdbcType=VARCHAR}
    </update>
</mapper>